$purple: #8b48d7;
$white: #ffffff;
$blue-ink: #2f3492;
$mid-grey: #85a9cd;
$danger: #ec2424;
$gradient: linear-gradient(135deg, #eb1e68 19.57%, #fc6d05 93.6%);
$secondary-gradient: linear-gradient(
    135deg,
    rgba(235, 30, 104, 0.2) 19.57%,
    rgba(252, 109, 5, 0.2) 93.6%
);

$panel-background-color: rgba(255, 255, 255, 0.6);
$input-height: 54px;
